body{
	width:80%;
	max-width:960px;
	margin: 0 auto;
	display: flex;
	}
	
section{
	padding:15px;
	}

#logo {
	position:relative;
	padding: 10px;
	width:100px;
	height:90px;
	background-color:white;
	border:solid gray 2px;
	}
	
#fullwidth {
	width: 100%;
	margin-left:125px;
	margin-top:10px;
	}
	
nav {
	color: #A0753A;
	background-color: #05003C;
	font-size: 1.1em=100%;
	width: 90%;
	margin-top:-95px;
	margin-left:110px;
	margin-bottom:10px;
	}
	
nav > ul {
	list-style-type: none;
	display:flex;
	flex-flow: row wrap;
	line-height: 3em;
	}
	
nav li {
	flex: 1 1 8em;
	}
	
nav a {
	padding: 1em;
	}
	
nav a:link, nav a:visited {
	color: #E7C24F;
	text-decoration:none;
	}
nav a:hover {
	color: #396E94;
	background-color: #E7C24F;
	}
	
#top-row {
	width:100%;
	flex-flow: row wrap;
	}
		
#middle-row {
	width: 100%;
	flex-flow: row wrap;
	}
		
#bottom-row {
	background-color: #37326F;
	text-align: center;
	width:100%;
	margin:0 auto;
	margin-top:40px;
	overflow:auto;
	}
		
.leftcol {
	width: 48%;
	flex: 1 0 15em;
	margin: .5em;
	}
		
.rightcol {
	width: 48%;
	flex: 1 0 15em;
	margin: .5em;
	}
			
h1 {
	color: #F9F9F9;
	font-family: Gadugi, sans-serif;
	font-size: auto;
	margin-bottom: 2px;	
	}
		
p {
	color: #F9F9F9;
	font-family: "Century Gothic", sans-serif;
	font-size: auto;
	margin: 2px;
	width:200px;
	height:100px;
	}
	
img {
	max-width: 100%;
	}
		
#first,#second {
	background-color: #37326F;
	padding:20px;
	height:300px;
	overflow-x:auto;
	align-items:center;
	}
	
#second {
	position:absolute;
	left:700px;
	top:723px;
	}
	
#relax {
	position:absolute;
	width:450px;
	left:680px;
	top:340px;
	}

footer {
	background-color: #05003C;
	margin-top:10px;
	padding:10px;
	float:left;
	width:100%;
	}
		
#social1, #social2, #social3 {
	height:50px;
	float:right;
	margin-right:50px;
	margin-top:-25px;
	}